.stripe-color
{
  	background-color:#f1f43d;
  	margin-top: 20%;
}

.heading
{
  	background-color:#f42e2e;
  	color: #fff;
}


body
{
   /* background-image:url("logo.png") ;
    width: 80%;
    height: 80%;*/
    background-color:#f42e2e
}