<!DOCTYPE html>
<html>
	<head>
		<title>Hop In</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="icon" href="{{url_for('static',filename='images/car2.jpg')}}" type="image/jpg" sizes="16x16">
	</head>


	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  			<a class="navbar-brand" href="/">
  				<img style="max-width:70px; margin-top: -7px" src="{{url_for('static',filename='images/car2.jpg')}}" type="image/jpg" >
  			</a>

  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>

  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
   				 <ul class="navbar-nav mr-auto">

      				<li class="nav-item active">
        				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      				</li>
        		</ul>
                  
      			<a class="btn btn-outline-primary mr-2 my-2 my-sm-0" href="http://127.0.0.1:5000/login" role="button">Login</a>
				  <a class="btn btn-outline-success mr-2 my-2 my-sm-0" href="http://127.0.0.1:5000/signUp" role="button">Signup</a>
				  <!-- <a class="btn btn-outline-success mr-2 my-2 my-sm-0" href="http://127.0.0.1:5000/logout" role="button">LogOut</a> -->
  			</div>
		</nav>
	</header>


	<body onload="getImage1()">

		<div class="row" style="padding: 5px 5px 5px 5px;background-color:#292b2c;"id="images">
			<div id ="pic1" style="padding: 5px 5px 5px 5px;">  Loading .....   </div>
			<div id ="pic2"	style="padding: 5px 5px 5px 5px;">  <font color="white">Loading .....   </font></div>
			<div id ="pic3"	style="padding: 5px 5px 5px 5px;">  <font color="white">Loading .....   </font></div>
		</div>	

		<div style="text-align: center;padding: 30px 30px 30px 30px;" id="offerJoin">
      			<a class="btn btn-outline-dark mr-2 my-2 my-sm-0" href="http://127.0.0.1:5000/offer" role="button">OFFER A RIDE</a>
      			<a class="btn btn-outline-dark mr-2 my-2 my-sm-0" href="http://127.0.0.1:5000/join" role="button">JOIN A RIDE</a>
		</div>	


		<div style="text-align: center;padding: 30px 30px 30px 30px;background-color:#5cb85c;" id="popular">
				<h4>Most Popular Rides</h4>
				<a id="btn" class="btn btn-dark mr-2 my-2 my-sm-0" href="{{url_for('stream')}}" role="button">Click Here</a>
		</div>


		<script>

			function getImage1(){
				xhr = new XMLHttpRequest;
				xhr.open("GET", "static/text/images1.txt", true);
				xhr.onreadystatechange = showImage1;
				xhr.send(null);
			}

			function showImage1(){
				if(xhr.readyState == 4 && xhr.status == 200){
					document.getElementById("pic1").innerHTML = xhr.responseText;
					setTimeout(getImage2, 2000); 
				}
			}

			function getImage2(){
				xhr.open("GET", "static/text/images2.txt", true);
				xhr.onreadystatechange = showImage2;
				xhr.send(null);
			}

			function showImage2(){
				if(xhr.readyState == 4 && xhr.status == 200){
					document.getElementById("pic2").innerHTML = xhr.responseText;
					setTimeout(getImage3, 2000); 
				}	
			}

			function getImage3(){
				xhr.open("GET", "static/text/images3.txt", true);
				xhr.onreadystatechange = showImage3;
				xhr.send(null);
			}

			function showImage3(){
				if(xhr.readyState == 4 && xhr.status == 200){
					document.getElementById("pic3").innerHTML = xhr.responseText;
					setTimeout(obj.monitor, 1000);
				}
			}	
						
		</script>
	</body>


	<footer class="page-footer font-small blue pt-4">
  		<!-- Footer Links -->
  		<div style="background-color:#ededed;" class="container-fluid text-center text-md-left">
    	<!-- Grid row -->
    	<div class="row">

      	<!-- Grid column -->
      	<div class="col-md-6 mt-md-0 mt-3">

		        <!-- Content -->
		        <h5 style="padding-top: 20px;" class="text-uppercase">HOP IN</h5>
		        <p>Hop In is one of the leading carpooling apps in South Asia. Forget going into the city to get out of town. We connect people together, making it possible to travel literally anywhere in the area, directly :)</p>

	     </div>
	     <!-- Grid column -->

	      <hr class="clearfix w-100 d-md-none pb-3">

	      <!-- Grid column -->
	      <div style="padding-top: 10px;"class="col-md-3 mb-md-0 mb-3">

	        <ul class="list-unstyled">
	        	<table>
					  <tr>
					  		<th><img style="margin-left: 20px; padding: 5px 5px 5px 5px;" src="static/images/youtubeLogo.png" width="40" height="40"></th>
							<th><img style="padding: 5px 5px 5px 5px;" src="static/images/facebookLogo.png" width="40" height="40"></th>
							<th><img style="padding: 5px 5px 5px 5px;" src="static/images/instagramLogo.png" width="40" height="40"></th>
							<th><img style="padding: 5px 5px 5px 5px;" src="static/images/twitterLogo.png" width="40" height="40"></th>							
					  </tr>
				</table>	  
	        </ul>
	      </div>

	    </div>
	    <!-- Grid row -->

	  </div>
	  <!-- Footer Links -->

	  <!-- Copyright -->
	  <div style="background-color:#dfdfdf;" class="footer-copyright text-center py-3">© 2019 Copyright:
	    <a href="#"> Hop In </a>
	  </div>
	  <!-- Copyright -->

	</footer>

</html>