<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Offer Ride Form</title>
    <link rel="stylesheet" href="static/css/style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/signup.css" rel="stylesheet">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->

    <!-- <script src="static/js/signUp.js"></script> -->
    <style>
        #container, #container1, #placeparent{
            height:200px;
            overflow-y: scroll;
        }

    </style>
</head>

<body>
    <div class="container">
    <!-- <script src="static/js/signUp.js"></script> -->
        <form class="form-signin" action = "{{url_for('offerRide')}}" method = "post" role="form">
            <h2 class="form-signin-heading">Offer Ride</h2>
            <table border="0" cellpadding="0">
                    <tr>
                        <td>Pick Up Points</td>
                        <td><input type="text" id="sourcesearch"  name="offer_source" class="form-control" onkeypress="sourceObj.getTerm()" placeholder="Source" required autofocus></td>
                    </tr>
                    <tr >
                        <td></td>
                        <td><div id="container" style=" display: none;"></td></div>
                    </tr>
            </table>
            <table border="0" cellpadding="0">
                    <tr>
                        <td>Pick Up Points</td>
                        <td><input type="text" id="destsearch"  name="offer_dest" class="form-control" onkeypress="destObj.getTerm()" placeholder="Destination" required autofocus></td>
                    </tr>
                    <tr >
                        <td></td>
                        <td><div id="container1" style=" display: none;"></td></div>
                    </tr>
            </table>
            
         
            <input type="number" id="seats" name="offer_seats" class="form-control" placeholder="No.of seats" required>
            <input type="number" id="cost" name="cost_km" class="form-control" placeholder="Cost per km" required>
            <input type="text" name="car_model" class="form-control" placeholder="Car Model" required>
            <input type="text" name="reg_no" class="form-control" placeholder="Registration Number" required>
            <input type="date" name="offer_date" class="form-control" required>
            <input type="time" name="offer_time" class="form-control" required>

            
            <button id="pickupbtn" class="btn btn-lg btn-primary btn-block" type="button" onclick="places.getPlaces()">Add pickup points</button>
			<div id="placeparent" style="display: none;">
			</div>
			<!-- add checked pickup points here -->
			<input id="checkedValues" name="offer_pickuppoints" type="textbox" style="display: none;">
            <input class = "btn"  type="submit" value = "Confirm" >
            <!-- <button id="offerbtn" class="btn btn-lg btn-primary btn-block" type="button">Register Car</button> -->
        </form>
    </div>
    <script>
        

			var places = {
				xhr : new XMLHttpRequest(),
                source : document.getElementById("sourcesearch"),
                dest : document.getElementById("destsearch"),
                seats: document.getElementById("seats"),
                cost : document.getElementById("cost"),

				getPlaces: function(){
					
					places.xhr.onreadystatechange = this.showPlaces;
                    term = places.source.value + ";"+ places.dest.value + ";"+places.seats.value+";"+places.cost.value;
					places.xhr.open("GET", "http://localhost:5000/offerRidePage/knn/term="+term);
					places.xhr.send();
				},
				showPlaces: function(){
					if(places.xhr.readyState == 4 && places.xhr.status== 200)
					{	
                        alert("respone came");
                        var resO = JSON.parse(this.response);
                       
                        var parent = document.getElementById("placeparent");
						parent.style.display ="block";
						for (var i=0; i<resO.length; i++)
                        {
                            
                                var d = document.createElement("div");
                                d.className = "placesClass custom-control custom-checkbox";
                                var c1 = document.createElement("input");
                                c1.type = "checkbox";
                                c1.className = "palcesCheckbox custom-control-input";
                                c1.id = resO[i][0] + " :" +  resO[i][1];
                                c1.value = resO[i][0] + " :" +  resO[i][1];
								c1.addEventListener("click",places.getChecked);
                                d.appendChild(c1);

                                var c2 = document.createElement("label");
                                c2.className = "custom-control-label";
                                c2.for =  resO[i][0] + " :" +  resO[i][1];
                                c2.innerHTML =  resO[i][0] + " :" +  resO[i][1];

                                d.appendChild(c2);
                                parent.appendChild(d);
						    
                        }
						var p = document.getElementById("pickupbtn");
						p.setAttribute( "onClick", "javascript: places.placehide();" );
					}
				},
				placeshow: function(){
					var divparent = document.getElementById("placeparent");
					divparent.style.display="block";
					var all = document.getElementsByClassName('placesClass');
					for (var i = 0; i < all.length; i++) {
						all[i].style.display = 'block';
					}
					var parent = document.getElementById("pickupbtn");
					parent.setAttribute( "onClick", "javascript: places.placehide();" );
					parent.innerHTML = "pickup points show less...";
				},
				placehide: function()
				{
					var divparent = document.getElementById("placeparent");
					divparent.style.display="none";
					
					var all = document.getElementsByClassName('placesClass');
					for (var i = 0; i < all.length; i++) {
						all[i].style.display = 'none';
					}
					var parent = document.getElementById("pickupbtn");
					parent.setAttribute( "onClick", "javascript: places.placeshow();" );
					parent.innerHTML = "pickup points  show more...";
				},
				getChecked: function(){
					value = evt.currentTarget.value;
					var hiddenInp = document.getElementById("checkedValues");
					hidddenInp.value = "";
					var CheckedValues = []; 
					var inputElements = document.getElementsByClassName('palcesCheckbox');
					for(var i=0; inputElements[i]; ++i){
						if(inputElements[i].checked){
							hiddenInp.value += inputElements[i].value;

						}
					}
					alert(hiddenInp.value)
				}
			}

			
        	var sourceObj ={
			xhr:new XMLHttpRequest(),
            search : document.getElementById("sourcesearch"),
            container : document.getElementById("container"),
			getTerm:function(){
				if(this.timer){
					clearTimeout(this.timer);
                    sourceObj.container.style.display="none";
                    sourceObj.container.innerHTML = "";
				}
				this.timer=setTimeout(sourceObj.sendTerm,1000);
			},
			sendTerm:function(){
				sourceObj.search=document.getElementById("sourcesearch");
				sourceObj.container=document.getElementById("container");
				var lsv = localStorage.getItem(sourceObj.search.value);
				if(lsv){
                    console.log("from cache");
					var cacheres=JSON.parse(lsv);
					sourceObj.populatePlaces(cacheres);
				}
				else{
					sourceObj.xhr.onreadystatechange=sourceObj.showResult;
					sourceObj.xhr.open("get","http://localhost:5000/offerRidePage/getPlaces/term="+sourceObj.search.value);
					sourceObj.xhr.responseType="json";
					sourceObj.xhr.send();
				}
			},
			showResult:function(){
				if(this.readyState==4 && this.status==200){
					var resobj = this.response;
					if(resobj.length==0){
						sourceObj.search.style.backgroundColor="red";
						sourceObj.search.style.fontStyle="bold";
						sourceObj.container.style.display="none";
					}
					else{
						sourceObj.search.style.backgroundColor="white";
						sourceObj.search.style.fontStyle="";
						console.log(resobj);
						localStorage.setItem(sourceObj.search.value,JSON.stringify(resobj))
						sourceObj.populatePlaces(resobj);
					}
				}
			},
			populatePlaces:function(resO){
				sourceObj.container.innerHTML="";
				for(i in resO){
					var iDiv = document.createElement("div");
					iDiv.innerHTML= resO[i];
					iDiv.className="splaces";
                    iDiv.value = resO[i];
                    iDiv.addEventListener("click",sourceObj.printWorking);
					sourceObj.container.appendChild(iDiv);
				}
				sourceObj.container.style.display="block";
			}, 
            printWorking: function(evt){
                value = evt.currentTarget.value
                sourceObj.search.value = value;
                sourceObj.container.style.display="none";
            }
		};
        	var destObj ={
			xhr:new XMLHttpRequest(),
            search : document.getElementById("destsearch"),
            container : document.getElementById("container1"),
			getTerm:function(){
				if(this.timer){
					clearTimeout(this.timer);
                    destObj.container.style.display="none";
                    destObj.container.innerHTML = "";
				}
				this.timer=setTimeout(destObj.sendTerm,1000);
			},
			sendTerm:function(){
				destObj.search=document.getElementById("destsearch");
				destObj.container=document.getElementById("container1");
				var lsv = localStorage.getItem(destObj.search.value);
				if(lsv){
                    console.log("from cache");
					var cacheres=JSON.parse(lsv);
					destObj.populatePlaces(cacheres);
				}
				else{
					destObj.xhr.onreadystatechange=destObj.showResult;
					destObj.xhr.open("get","http://localhost:5000/offerRidePage/getPlaces/term="+destObj.search.value);
					destObj.xhr.responseType="json";
					destObj.xhr.send();
				}
			},
			showResult:function(){
				if(this.readyState==4 && this.status==200){
					var resobj = this.response;
					if(resobj.length==0){
						destObj.search.style.backgroundColor="red";
						destObj.search.style.fontStyle="bold";
						destObj.container.style.display="none";
					}
					else{
						destObj.search.style.backgroundColor="white";
						destObj.search.style.fontStyle="";
						console.log(resobj);
						localStorage.setItem(destObj.search.value,JSON.stringify(resobj))
						destObj.populatePlaces(resobj);
					}
				}
			},
			populatePlaces:function(resO){
				destObj.container.innerHTML="";
				for(i in resO){
					var iDiv = document.createElement("div");
                    
					iDiv.innerHTML= resO[i];
					iDiv.className="dplaces";
                    iDiv.value = resO[i];
                    iDiv.addEventListener("click",destObj.printWorking);

					destObj.container.appendChild(iDiv);
				}
				destObj.container.style.display="block";
			}, 
            printWorking: function(evt){
                value = evt.currentTarget.value
               
                destObj.search.value = value;
                destObj.container.style.display="none";
            }
		};
    </script>
</body>

</html>


